Lambda School Data Science

*Unit 1, Sprint 1, Module 2*

---

# Learning Objectives

- Student should be able to understand the purpose of feature engineering
- Student should be able to work with strings in pandas
- Student should be able to work with dates and times in pandas
- Student should be able to modify or create columns of a dataframe using the `.apply()` function

- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations - eg. .strip(), .split(), .replace() and list comprehensions
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series - lots more details about time using and not using Pandas
- [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)

#Pandas is not "Pythonic". 

What does Pythonic mean???

There is one and only one 'best' way to do things.
When working with Pandas, there are many different good ways to accomplish the same goal.

## Overview

Feature Engineering is the process of using a combination of domain knowledge, creativity, and the pre-existing columns of a dataset to create completely new columns.

 Machine Learning models try to detect patterns in the data and then associate those patterns with certain predictions. The hope is that by creating new columns on our dataset that we can expose our model to new patterns in the data so that it can make better and better predictions.

This is largely a matter of understanding how to work with individual columns of a dataframe with Pandas --which is what we'll be practicing today!

## Follow Along

Columns of a dataframe hold each hold a specific type of data. Lets inspect some of the common datatypes found in datasets and then we'll make a new feature on a dataset using pre-existing columns.

In [2]:
#Import pandas
import pandas as pd

# Pandas Display Options:
pd.set_option('display.max_rows', 150)
pd.set_option('display.max_columns', 100)

/Users/jeffkang/.pyenv/versions/3.8.5/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

### Let's explore feature engineering with the Ames Housing data.  Import the dataset and name it "house".

###1) Import the Ames Housing Data:

In [3]:
house = pd.read_csv('https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Housing/Ames%20Iowa%20Housing%20Data.csv')

###2) Let's explore some features of the dataset:

In [7]:
#Print out the first 18 observations
house.head(18)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,Norm,1Fam,1.5Fin,5,5,1993,1995,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,Wood,Gd,TA,No,GLQ,732,Unf,0,64,796,GasA,Ex,Y,SBrkr,796,566,0,1362,1,0,1,1,1,1,TA,5,Typ,0,NaN,Attchd,1993.0,Unf,2,480,TA,TA,Y,40,30,0,320,0,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Somerst,Norm,Norm,1Fam,1Story,8,5,2004,2005,Gable,CompShg,VinylSd,VinylSd,Stone,186.0,Gd,TA,PConc,Ex,TA,Av,GLQ,1369,Unf,0,317,1686,GasA,Ex,Y,SBrkr,1694,0,0,1694,1,0,2,0,3,1,Gd,7,Typ,1,Gd,Attchd,2004.0,RFn,2,636,TA,TA,Y,255,57,0,0,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NWAmes,PosN,Norm,1Fam,2Story,7,6,1973,1973,Gable,CompShg,HdBoard,HdBoard,Stone,240.0,TA,TA,CBlock,Gd,TA,Mn,ALQ,859,BLQ,32,216,1107,GasA,Ex,Y,SBrkr,1107,983,0,2090,1,0,2,1,3,1,TA,7,Typ,2,TA,Attchd,1973.0,RFn,2,484,TA,TA,Y,235,204,228,0,0,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,OldTown,Artery,Norm,1Fam,1.5Fin,7,5,1931,1950,Gable,CompShg,BrkFace,Wd Shng,None,0.0,TA,TA,BrkTil,TA,TA,No,Unf,0,Unf,0,952,952,GasA,Gd,Y,FuseF,1022,752,0,1774,0,0,2,0,2,2,TA,8,Min1,2,TA,Detchd,1931.0,Unf,2,468,Fa,TA,Y,90,0,205,0,0,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,BrkSide,Artery,Artery,2fmCon,1.5Unf,5,6,1939,1950,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,BrkTil,TA,TA,No,GLQ,851,Unf,0,140,991,GasA,Ex,Y,SBrkr,1077,0,0,1077,1,0,1,0,2,2,TA,5,Typ,2,TA,Attchd,1939.0,RFn,1,205,Gd,TA,Y,0,4,0,0,0,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Sawyer,Norm,Norm,1Fam,1Story,5,5,1965,1965,Hip,CompShg,HdBoard,HdBoard,None,0.0,TA,TA,CBlock,TA,TA,No,Rec,906,Unf,0,134,1040,GasA,Ex,Y,SBrkr,1040,0,0,1040,1,0,1,0,3,1,TA,5,Typ,0,NaN,Detchd,1965.0,Unf,1,384,TA,TA,Y,0,0,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,Norm,1Fam,2Story,9,5,2005,2006,Hip,CompShg,WdShing,Wd Shng,Stone,286.0,Ex,TA,PConc,Ex,TA,No,GLQ,998,Unf,0,177,1175,GasA,Ex,Y,SBrkr,1182,1142,0,2324,1,0,3,0,4,1,Ex,11,Typ,2,Gd,BuiltIn,2005.0,Fin,3,736,TA,TA,Y,147,21,0,0,0,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,Inside,Gtl,Sawyer,Norm,Norm,1Fam,1Story,5,6,1962,1962,Hip,CompShg,HdBoard,Plywood,None,0.0,TA,TA,CBlock,TA,TA,No,ALQ,737,Unf,0,175,912,GasA,TA,Y,SBrkr,912,0,0,912,1,0,1,0,2,1,TA,4,Typ,0,NaN,Detchd,1962.0,Unf,1,352,TA,TA,Y,140,0,0,0,176,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,1Story,7,5,2006,2007,Gable,CompShg,VinylSd,VinylSd,Stone,306.0,Gd,TA,PConc,Gd,TA,Av,Unf,0,Unf,0,1494,1494,GasA,Ex,Y,SBrkr,1494,0,0,1494,0,0,2,0,3,1,Gd,7,Typ,1,Gd,Attchd,2006.0,RFn,3,840,TA,TA,Y,160,33,0,0,0,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,5,1960,1960,Hip,CompShg,MetalSd,MetalSd,BrkFace,212.0,TA,TA,CBlock,TA,TA,No,BLQ,733,Unf,0,520,1253,GasA,TA,Y,SBrkr,1253,0,0,1253,1,0,1,1,2,1,TA,5,Typ,1,Fa,Attchd,1960.0,RFn,1,352,TA,TA,Y,0,213,176,0,0,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
15,16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,BrkSide,Norm,Norm,1Fam,1.5Unf,7,8,1929,2001,Gable,CompShg,Wd Sdng,Wd Sdng,None,0.0,TA,TA,BrkTil,TA,TA,No,Unf,0,Unf,0,832,832,GasA,Ex,Y,FuseA,854,0,0,854,0,0,1,0,2,1,TA,5,Typ,0,NaN,Detchd,1991.0,Unf,2,576,TA,TA,Y,48,112,0,0,0,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
16,17,20,RL,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,NAmes,Norm,Norm,1Fam,1Story,6,7,1970,1970,Gable,CompShg,Wd Sdng,Wd Sdng,BrkFace,180.0,TA,TA,CBlock,TA,TA,No,ALQ,578,Unf,0,426,1004,GasA,Ex,Y,SBrkr,1004,0,0,1004,1,0,1,0,2,1,TA,5,Typ,1,TA,Attchd,1970.0,Fin,2,480,TA,TA,Y,0,0,0,0,0,0,NaN,NaN,Shed,700,3,2010,WD,Normal,149000
17,18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Sawyer,Norm,Norm,Duplex,1Story,4,5,1967,1967,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,Slab,NaN,NaN,NaN,NaN,0,NaN,0,0,0,GasA,TA,Y,SBrkr,1296,0,0,1296,0,0,2,0,2,2,TA,6,Typ,0,NaN,CarPort,1967.0,Unf,2,516,TA,TA,Y,0,0,0,0,0,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000

In [8]:
#Print out the last five observations
house.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,1Fam,2Story,6,5,1999,2000,Gable,CompShg,VinylSd,VinylSd,None,0.0,TA,TA,PConc,Gd,TA,No,Unf,0,Unf,0,953,953,GasA,Ex,Y,SBrkr,953,694,0,1647,0,0,2,1,3,1,TA,7,Typ,1,TA,Attchd,1999.0,RFn,2,460,TA,TA,Y,0,40,0,0,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,Norm,1Fam,1Story,6,6,1978,1988,Gable,CompShg,Plywood,Plywood,Stone,119.0,TA,TA,CBlock,Gd,TA,No,ALQ,790,Rec,163,589,1542,GasA,TA,Y,SBrkr,2073,0,0,2073,1,0,2,0,3,1,TA,7,Min1,2,TA,Attchd,1978.0,Unf,2,500,TA,TA,Y,349,0,0,0,0,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,9,1941,2006,Gable,CompShg,CemntBd,CmentBd,None,0.0,Ex,Gd,Stone,TA,Gd,No,GLQ,275,Unf,0,877,1152,GasA,Ex,Y,SBrkr,1188,1152,0,2340,0,0,2,0,4,1,Gd,9,Typ,2,Gd,Attchd,1941.0,RFn,1,252,TA,TA,Y,0,60,0,0,0,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,5,6,1950,1996,Hip,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,TA,TA,Mn,GLQ,49,Rec,1029,0,1078,GasA,Gd,Y,FuseA,1078,0,0,1078,1,0,1,0,2,1,Gd,5,Typ,0,NaN,Attchd,1950.0,Unf,1,240,TA,TA,Y,366,0,112,0,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,Norm,1Fam,1Story,5,6,1965,1965,Gable,CompShg,HdBoard,HdBoard,None,0.0,Gd,TA,CBlock,TA,TA,No,BLQ,830,LwQ,290,136,1256,GasA,Gd,Y,SBrkr,1256,0,0,1256,1,0,1,1,3,1,TA,6,Typ,0,NaN,Attchd,1965.0,Fin,1,276,TA,TA,Y,736,68,0,0,0,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [9]:
#Get info on each variable

house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [10]:
#What if I just want the data type?

house.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [13]:
#How much missing data is there in each variable?

house.isnull().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
BsmtQual           37
BsmtCond           37
BsmtExposure       38
BsmtFinType1       37
BsmtFinSF1          0
BsmtFinType2       38
BsmtFinSF2          0
BsmtUnfSF           0
TotalBsmtSF         0
Heating             0
HeatingQC           0
CentralAir          0
Electrical          1
1stFlrSF            0
2ndFlrSF            0
LowQualFinSF        0
GrLivArea           0
BsmtFullBath        0
BsmtHalfBath        0
FullBath            0
HalfBath            0
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

In [16]:
#How many missing observations are there in the entire dataset?

house.isnull().sum().sum()

6965

In [17]:
#How could we access descriptive statistics for the numeric variables?

house.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1379.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,567.240411,1057.429452,1162.626712,346.992466,5.844521,1515.463699,0.425342,0.057534,1.565068,0.382877,2.866438,1.046575,6.517808,0.613014,1978.506164,1.767123,472.980137,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,441.866955,438.705324,386.587738,436.528436,48.623081,525.480383,0.518911,0.238753,0.550916,0.502885,0.815778,0.220338,1.625393,0.644666,24.689725,0.747315,213.804841,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,0.000000,0.000000,334.000000,0.000000,0.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,223.000000,795.750000,882.000000,0.000000,0.000000,1129.500000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000,5.000000,0.000000,1961.000000,1.000000,334.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,477.500000,991.500000,1087.000000,0.000000,0.000000,1464.000000,0.000000,0.000000,2.000000,0.000000,3.000000,1.000000,6.000000,1.000000,1980.000000,2.000000,480.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,808.000000,1298.250000,1391.250000,728.000000,0.000000,1776.750000,1.000000,0.000000,2.000000,1.000000,3.000000,1.000000,7.000000,1.000000,2002.000000,2.000000,576.000000,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,2336.000000,6110.000000,4692.000000,2065.000000,572.000000,5642.000000,3.000000,2.000000,3.000000,2.000000,8.000000,3.000000,14.000000,3.000000,2010.000000,4.000000,1418.000000,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [4]:
#How could we access descriptive statistics for the categorical variables?

house.describe(exclude = 'number')

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Heating,HeatingQC,CentralAir,Electrical,KitchenQual,Functional,FireplaceQu,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,1460,1452,1460,1460,1460,1423,1423,1422,1423,1422,1460,1460,1460,1459,1460,1460,770,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,8,5,8,6,8,15,16,4,4,5,6,4,4,4,6,6,6,5,2,5,4,7,5,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,1Fam,1Story,Gable,CompShg,VinylSd,VinylSd,None,TA,TA,PConc,TA,TA,No,Unf,Unf,GasA,Ex,Y,SBrkr,TA,Typ,Gd,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,1445,1220,726,1141,1434,515,504,864,906,1282,647,649,1311,953,430,1256,1428,741,1365,1334,735,1360,380,870,605,1311,1326,1340,3,157,49,1267,1198

Let's look a little more closely at `BedroomAbvGr`

`BedroomAbvGr` which stands for "Bedrooms Above Ground." This is the number of non-basement bedrooms in the home.

For more information on specific column meanings view the [data dictionary](https://github.com/LambdaSchool/data-science-practice-datasets/blob/main/unit_1/Housing/ames_data_description.txt).

In [5]:
# Look at a few rows of the `BedroomAbvGr` column.
# What is the data type?

house['BedroomAbvGr'].head()

0    3
1    3
2    3
3    3
4    4
Name: BedroomAbvGr, dtype: int64

What type of variable is BedroomAbvGr?  Is it categorical or quantitative?  etc.

Quantitative Discrete

Now lets take a closer look at `LotFrontage`.

In [6]:
# Look at a few rows of the `LotFrontage` column.

house['LotFrontage'].head()

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
Name: LotFrontage, dtype: float64

Hmmm, do the values above look like floats to you?

They all have .0 on them so technically they're being stored as floats, but *should* they be stored as floats?

Lets see what all of the possible values for this column are.

In [9]:
#Possible values of lot frontage
house['LotFrontage'].value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
64.0      19
24.0      19
73.0      18
55.0      17
63.0      17
79.0      17
72.0      17
100.0     16
66.0      15
74.0      15
51.0      15
52.0      14
59.0      13
82.0      12
71.0      12
67.0      12
43.0      12
40.0      12
57.0      12
76.0      11
69.0      11
92.0      10
34.0      10
53.0      10
86.0      10
88.0      10
84.0       9
35.0       9
62.0       9
44.0       9
77.0       9
93.0       8
98.0       8
96.0       8
61.0       8
95.0       7
58.0       7
120.0      7
107.0      7
94.0       6
81.0       6
36.0       6
30.0       6
48.0       6
91.0       6
41.0       6
54.0       6
89.0       6
110.0      6
105.0      6
32.0       5
47.0       5
87.0       5
56.0       5
37.0       5
83.0       5
102.0      4
42.0       4
49.0       4
104.0      3
103.0      3
99.0       3
45.0       3
108.0      3
130.0      3
124.0      2
114.0      2
109.0      2
313.0      2
134.0      2
115.0      2
121.0      2
116.0      2
118.0      2
129.0      2
101.0      2
174.0      2
97.0       2
122.0      2
112.0      1
168.0      1
182.0      1
111.0      1
138.0      1
160.0      1
149.0      1
153.0      1
152.0      1
33.0       1
128.0      1
144.0      1
39.0       1
150.0      1
106.0      1
137.0      1
141.0      1
38.0       1
140.0      1
46.0       1
Name: LotFrontage, dtype: int64

Looks to me like the `LotFrontage` column originally held integer values but was cast to a `float` meaning that each original integer values was converted to its corresponding float representation. 

Any guesses as to why that would have happened?


HINT: Does every house have a lot frontage?

In [10]:
house['LotFrontage'].value_counts(dropna = False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
90.0      23
21.0      23
64.0      19
24.0      19
68.0      19
73.0      18
55.0      17
72.0      17
63.0      17
79.0      17
100.0     16
66.0      15
51.0      15
74.0      15
52.0      14
59.0      13
82.0      12
71.0      12
67.0      12
57.0      12
43.0      12
40.0      12
76.0      11
69.0      11
88.0      10
34.0      10
53.0      10
86.0      10
92.0      10
35.0       9
84.0       9
44.0       9
77.0       9
62.0       9
61.0       8
93.0       8
96.0       8
98.0       8
120.0      7
107.0      7
58.0       7
95.0       7
30.0       6
41.0       6
110.0      6
54.0       6
91.0       6
36.0       6
48.0       6
94.0       6
89.0       6
81.0       6
105.0      6
87.0       5
56.0       5
37.0       5
83.0       5
32.0       5
47.0       5
42.0       4
102.0      4
49.0       4
99.0       3
108.0      3
103.0      3
104.0      3
45.0       3
130.0      3
124.0      2
313.0      2
114.0      2
122.0      2
101.0      2
115.0      2
109.0      2
174.0      2
116.0      2
134.0      2
118.0      2
121.0      2
97.0       2
129.0      2
112.0      1
128.0      1
153.0      1
152.0      1
160.0      1
138.0      1
182.0      1
168.0      1
149.0      1
39.0       1
144.0      1
111.0      1
140.0      1
106.0      1
141.0      1
137.0      1
38.0       1
33.0       1
150.0      1
46.0       1
Name: LotFrontage, dtype: int64

`NaN` stands stands for "Not a Number" and is the default missing value indicator with Pandas. This means there were cells in this column that didn't have a LotFrontage value recorded for those homes. 

This is where domain knowledge starts to come in. Think about the context we're working with here: houses. What might a null or blank cell representing "Linear feet of street connected to property" mean in the context of a housing dataset?

Ok, so maybe it makes sense to have some NaNs in this column. What is the datatype of a NaN value?

Perhaps some of this data is truly missing or unrecorded data, but sometimes `NaNs` are more likely to indicate something that was "NA" or "Not Applicable" to a particular observation. There could be multiple reasons why there was no value recorded for a particular feature.

Remember - Pandas tries to maintain a single datatype for all values in a column, and therefore...

In [11]:
#import numpy

import numpy as np


# What is the datatype of NaN?

type(np.NaN)

float

The datatype of a NaN is float!  This means that if we have a column of integer values, but the column has even a single `NaN` that column will not be treated with the integer datatype but all of the integers will be converted to floats in order to try and preserve the same datatype throughout the entire column.

You can see already how understanding column datatypes is crucial to understanding how Pandas help us manage our data.

# [Objective 01](#feature-engineering) - Feature Engineering

### Making new Features

Lets slim down the dataset and consider just a few specific columns:

- `TotalBsmtSF`
- `1stFlrSF`
- `2ndFlrSF`
- `SalePrice`

In [14]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets
# get a single column

house['TotalBsmtSF'].head()

0     856
1    1262
2     920
3     756
4    1145
Name: TotalBsmtSF, dtype: int64

In [20]:
# Get more than one column, then pass in a list of column headers

house[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [21]:
# I can make a smaller dataframe with a few specific column headers
# by passing a list of column headers inside of the square brackets

#In the following example we are copying a set to another set using = operator. 
#The problem with this method is that if any of the set (old or new) is modified, 
#the changes will reflect in both the sets. If you do not want this kind of behavior 
#and only want the set where you are making changes to be changed then use copy() method

small_house = house[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
small_house.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

This is the best tutorial I've seen about the difference between assignment, a shallow copy and a deep copy: https://medium.com/better-programming/assignment-vs-shallow-copy-vs-deep-copy-in-python-246ea4d36b3c

In [24]:
#Look at the data types

display(small_house.dtypes)

# if any missing data, would be cast as float

small_house.isnull().sum()

TotalBsmtSF    int64
1stFlrSF       int64
2ndFlrSF       int64
SalePrice      int64
dtype: object

TotalBsmtSF    0
1stFlrSF       0
2ndFlrSF       0
SalePrice      0
dtype: int64

### Creating a new column by doing arithmetic on other columns

In [26]:
# Lets add up all of the square footage to get a single square footage 
# column for the entire dataset

small_house['TotalSquareFootage'] = small_house['TotalBsmtSF'] + small_house['1stFlrSF'] + small_house['2ndFlrSF']
small_house.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSquareFootage
0          856       856       854     208500                2566
1         1262      1262         0     181500                2524
2          920       920       866     223500                2706
3          756       961       756     140000                2473
4         1145      1145      1053     250000                3343

In [31]:
# Lets make a nother new column that is 'PricePerSqFt' by
# dividing the price by the square footage

small_house['PricePerSqFt'] = small_house['SalePrice'] / small_house['TotalSquareFootage']
small_house.head()

,TotalBsmtSF,1stFlrSF,2ndFlrSF,SalePrice,TotalSquareFootage,PricePerSqFt
0,856,856,854,208500,2566,81.254871
1,1262,1262,0,181500,2524,71.909667
2,920,920,866,223500,2706,82.594235
3,756,961,756,140000,2473,56.611403
4,1145,1145,1053,250000,3343,74.783129

###Why might you want to have the total square footage or price per square foot variables?

Meaningful to consumers
Reduce the number of features in our dataframe

###We can also use if-then statements to create new variables.  

Say we want to categorize houses as having a high price per square foot (greater than or equal to 80 dollars per square foot) or a low price per square foot (less than 80 dollars per square foot).

In [33]:
#The format is DF.loc[DF['COLUMN'] logical expression, 'NEW VARIABLE NAME' ] assignment

small_house.loc[small_house['PricePerSqFt'] >= 80, 'High_ppsqft'] = 1
small_house.loc[small_house['PricePerSqFt'] < 80, 'High_ppsqft'] = 0

small_house.head()

,TotalBsmtSF,1stFlrSF,2ndFlrSF,SalePrice,TotalSquareFootage,PricePerSqFt,High_ppsqft
0,856,856,854,208500,2566,81.254871,1.0
1,1262,1262,0,181500,2524,71.909667,0.0
2,920,920,866,223500,2706,82.594235,1.0
3,756,961,756,140000,2473,56.611403,0.0
4,1145,1145,1053,250000,3343,74.783129,0.0

Why might we want to have categories for high and low cost per square foot?

Classification model (logistic regression)

### Let's include "and" and "or" conditions in the if-then statements.

We can identify high price per square foot houses with basements.

In [35]:
#First, is no basement square footage respresented as NaN or as 0sqft?

small_house['TotalBsmtSF'].isnull().sum()

small_house['TotalBsmtSF'].value_counts()

0       37
864     35
672     17
912     15
1040    14
        ..
1838     1
1581     1
707      1
611      1
1542     1
Name: TotalBsmtSF, Length: 721, dtype: int64

In [36]:
#No missing data so we can assume if basement sqft = 0 then there is no basement.

small_house.loc[(small_house['PricePerSqFt'] >= 80) & (small_house['TotalBsmtSF'] > 0), 'Expensive_basement'] = 1
small_house.loc[(small_house['PricePerSqFt'] < 80) | (small_house['TotalBsmtSF'] == 0), 'Expensive_basement'] = 0

small_house.head()

,TotalBsmtSF,1stFlrSF,2ndFlrSF,SalePrice,TotalSquareFootage,PricePerSqFt,High_ppsqft,Expensive_basement
0,856,856,854,208500,2566,81.254871,1.0,1.0
1,1262,1262,0,181500,2524,71.909667,0.0,0.0
2,920,920,866,223500,2706,82.594235,1.0,1.0
3,756,961,756,140000,2473,56.611403,0.0,0.0
4,1145,1145,1053,250000,3343,74.783129,0.0,0.0

## Challenge

I hope you can see how we have used existing columns to create a new column on a dataset that say something new about our unit of observation. This is what making new features (columns) on a dataset is all about and why it's so essential to data science --particularly predictive modeling "Machine Learning." 

We'll spend the rest of the lecture and assignment today trying to get as good as we can at manipulating (cleaning) and creating new columns on datasets.

# [Objective 02](#work-with-strings) - Work with Strings with Pandas

# [Objective 03](#pandas-apply) - Modify and Create Columns using `.apply()`

## Overview

So far we have worked with numeric datatypes (ints and floats) but we haven't worked with any columns containing string values. We can't simply use arithmetic to manipulate string values, so we'll need to learn some more techniques in order to work with this datatype.

## Follow Along

We're going to import a new dataset here to work with. This dataset is from LendingClub and holds information about loans issued in Q4 of 2018. This dataset is a bit messy so it will give us plenty of opportunities to clean up existing columns as well as create new ones.

In [39]:
# Read in the CSV
import pandas as pd

loans_data = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/LendingClub/LoanStats_2018Q4_sm.csv'
loans = pd.read_csv(loans_data)

print(loans.shape)
loans.head()
# loans.tail()

(30000, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,...,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
29995,NaN,NaN,20000,20000,20000.0,36 months,10.33%,648.45,B,B1,Registered Nursse,5 years,RENT,75000.0,Not Verified,Dec-2018,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,380xx,TN,9.73,1,Jan-2000,0,20.0,NaN,8,0,21185,63.8%,13,w,0.00,0.00,22782.38,22782.38,20000.00,2782.38,0.0,0.0,0.0,Oct-2020,6527.96,NaN,Nov-2020,0,...,4,8,9,4,8,0.0,0,0,0,84.6,50.0,0,0,33200,21185,31300,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
29996,NaN,NaN,35000,35000,35000.0,60 months,6.11%,678.44,A,A1,VP Store Manager,9 years,MORTGAGE,160000.0,Source Verified,Oct-2018,Fully Paid,n,NaN,NaN,credit_card,Credit card refinancing,760xx,TX,17.80,0,Sep-1985,0,NaN,NaN,11,0,88101,43.8%,26,w,0.00,0.00,38633.43,38633.43,35000.00,3633.43,0.0,0.0,0.0,Nov-2020,23041.19,NaN,Nov-2020,0,...,4,10,20,7,11,0.0,0,0,0,100.0,16.7,0,0,189653,104249,130000,23253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,22370.32,N,NaN,NaN,NaN,NaN,NaN,NaN
29997,NaN,NaN,10000,10000,9975.0,60 months,25.34%,295.51,E,E3,NaN,< 1 year,RENT,20000.0,Not Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,902xx,CA,30.61,1,Dec-2007,2,16.0,NaN,29,0,5181,8.9%,48,f,7117.38,7099.58,7669.18,7650.01,2882.62,4786.56,0.0,0.0,0.0,Dec-2020,295.51,Jan-2021,Dec-2020,0,...,7,26,40,13,29,0.0,0,0,4,97.9,6.3,0,0,69458,11297,45400,10600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
29998,NaN,NaN,16000,16000,16000.0,60 months,7.84%,323.20,A,A4,Steel fabricator,< 1 year,RENT,90000.0,Source Verified,Oct-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,924xx,CA,4.41,0,Apr-2008,0,NaN,NaN,8,0,10395,27.1%,13,w,9825.16,9825.16,8396.23,8396.23,6174.84,2221.39,0.0,0.0,0.0,Dec-2020,323.20,Jan-2021,Dec-2020,0,...,3,8,9,4,8,0.0,0,0,2,100.0,0.0,0,0,38400,10395,24500,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
29999,NaN,NaN,6400,6400,6400.0,36 months,13.56%,217.38,C,C1,Business Manager,10+ years,MORTGAGE,55000.0,Source Verified,Dec-2018,Current,n,NaN,NaN,debt_consolidation,Debt consolidation,379xx,TN,39.60,0,Apr-1991,0,NaN,NaN,13,0,26052,99.1%,16,f,2426.32,2426.32,5212.30,5212.30,3973.68,1238.62,0.0,0.0,0.0,Dec-2020,217.38,Jan-2021,Dec-2020,0,...,6,8,9,6,13,0.0,0,0,2,100.0,100.0,0,0,252962,48065,24800,33500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

A quick note about missing data...  Why might there be so much missing data for membrID, etc.

In [40]:
#check for missing data in loans

loans.isnull().sum()

id                                            30000
member_id                                     30000
loan_amnt                                         0
funded_amnt                                       0
funded_amnt_inv                                   0
term                                              0
int_rate                                          0
installment                                       0
grade                                             0
sub_grade                                         0
emp_title                                      4959
emp_length                                     2759
home_ownership                                    0
annual_inc                                        0
verification_status                               0
issue_d                                           0
loan_status                                       0
pymnt_plan                                        0
url                                           30000
desc                                          30000
purpose                                           0
title                                             0
zip_code                                          0
addr_state                                        0
dti                                              55
delinq_2yrs                                       0
earliest_cr_line                                  0
inq_last_6mths                                    0
mths_since_last_delinq                        16880
mths_since_last_record                        26343
open_acc                                          0
pub_rec                                           0
revol_bal                                         0
revol_util                                       39
total_acc                                         0
initial_list_status                               0
out_prncp                                         0
out_prncp_inv                                     0
total_pymnt                                       0
total_pymnt_inv                                   0
total_rec_prncp                                   0
total_rec_int                                     0
total_rec_late_fee                                0
recoveries                                        0
collection_recovery_fee                           0
last_pymnt_d                                     31
last_pymnt_amnt                                   0
next_pymnt_d                                  12931
last_credit_pull_d                                0
collections_12_mths_ex_med                        0
mths_since_last_major_derog                   23216
policy_code                                       0
application_type                                  0
annual_inc_joint                              26037
dti_joint                                     26037
verification_status_joint                     26494
acc_now_delinq                                    0
tot_coll_amt                                      0
tot_cur_bal                                       0
open_acc_6m                                       0
open_act_il                                       0
open_il_12m                                       0
open_il_24m                                       0
mths_since_rcnt_il                             1048
total_bal_il                                      0
il_util                                        4683
open_rv_12m                                       0
open_rv_24m                                       0
max_bal_bc                                        0
all_util                                          8
total_rev_hi_lim                                  0
inq_fi                                            0
total_cu_tl                                       0
inq_last_12m                                      0
acc_open_past_24mths                              0
avg_cur_bal                                       3
bc_open_to_buy                                  382
bc_util                                         398
chargeoff_within_12_mths                          0
delinq_amnt                                       0
mo_sin_old_il_acct                             1048
mo_sin_old_rev_tl_op                              0
mo_sin_rcnt_rev_tl_op                             0
mo_sin_rcnt_tl                                    0
mort_acc                                          0
mths_since_recent_bc                            360
mths_since_recent_bc_dlq                      24186
mths_since_recent_inq                          3778
mths_since_recent_revol_delinq                21390
num_accts_ever_120_pd                             0
num_actv_bc_tl                                    0
num_actv_rev_tl                                   0
num_bc_sats                                       0
num_bc_tl                                         0
num_il_tl                                         0
num_op_rev_tl                                     0
num_rev_accts                                     0
num_rev_tl_bal_gt_0                               0
num_sats                                          0
num_tl_120dpd_2m                                679
num_tl_30dpd                                      0
num_tl_90g_dpd_24m                                0
num_tl_op_past_12m                                0
pct_tl_nvr_dlq                                    0
percent_bc_gt_75                                383
pub_rec_bankruptcies                              0
tax_liens                                         0
tot_hi_cred_lim                                   0
total_bal_ex_mort                                 0
total_bc_limit                                    0
total_il_high_credit_limit                        0
revol_bal_joint                               26037
sec_app_earliest_cr_line                      26037
sec_app_inq_last_6mths                        26037
sec_app_mort_acc                              26037
sec_app_open_acc                              26037
sec_app_revol_util                            26105
sec_app_open_act_il                           26037
sec_app_num_rev_accts                         26037
sec_app_chargeoff_within_12_mths              26037
sec_app_collections_12_mths_ex_med            26037
sec_app_mths_since_last_major_derog           28837
hardship_flag                                  1635
hardship_type                                 26757
hardship_reason                               26754
hardship_status                               26754
deferral_term                                 26754
hardship_amount                               25119
hardship_start_date                           26754
hardship_end_date                             26754
payment_plan_start_date                       26757
hardship_length                               26754
hardship_dpd                                  26754
hardship_loan_status                          27523
orig_projected_additional_accrued_interest    25119
hardship_payoff_balance_amount                25119
hardship_last_payment_amount                  25119
debt_settlement_flag                              0
debt_settlement_flag_date                     29800
settlement_status                             29800
settlement_date                               29800
settlement_amount                             29800
settlement_percentage                         29800
settlement_term                               29800
dtype: int64

In [53]:
#drop columns where everything is missing
small_loans = loans.dropna(axis = 1, how = 'any')

display(small_loans.isnull().sum())
small_loans.head()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
title                         0
zip_code                      0
addr_state                    0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_amnt               0
last_credit_pull_d            0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
tot_coll_amt                  0
tot_cur_bal                   0
open_acc_6m                   0
open_act_il                   0
open_il_12m                   0
open_il_24m                   0
total_bal_il                  0
open_rv_12m                   0
open_rv_24m                   0
max_bal_bc                    0
total_rev_hi_lim              0
inq_fi                        0
total_cu_tl                   0
inq_last_12m                  0
acc_open_past_24mths          0
chargeoff_within_12_mths      0
delinq_amnt                   0
mo_sin_old_rev_tl_op          0
mo_sin_rcnt_rev_tl_op         0
mo_sin_rcnt_tl                0
mort_acc                      0
num_accts_ever_120_pd         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_accts                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
num_tl_30dpd                  0
num_tl_90g_dpd_24m            0
num_tl_op_past_12m            0
pct_tl_nvr_dlq                0
pub_rec_bankruptcies          0
tax_liens                     0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
debt_settlement_flag          0
dtype: int64

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,debt_settlement_flag
0,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,MORTGAGE,62035.0,Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,301xx,GA,0,Oct-1998,1,14,1,4021,21,w,0.00,0.00,6336.700000,6336.70,5525.00,811.70,0.0,0.0,0.0,2376.69,Dec-2020,0,1,Individual,0,0,224883,3,6,3,4,63960,1,2,2597,22500,1,0,2,7,0,0,89,12,2,1,0,3,5,3,3,12,7,8,5,14,0,0,4,90.5,1,0,256370,67981,16200,73755,N
1,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,RENT,42000.0,Source Verified,Oct-2018,Fully Paid,n,credit_card,Credit card refinancing,432xx,OH,0,Sep-2015,2,5,0,509,6,w,0.00,0.00,10737.711855,10737.71,10000.00,737.71,0.0,0.0,0.0,2861.16,Dec-2020,0,1,Individual,0,0,7739,1,1,1,1,7230,1,2,509,18700,1,0,4,3,0,0,37,5,5,0,0,1,1,3,3,2,4,4,1,5,0,0,2,100.0,0,0,34941,7739,16600,16241,N
2,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,MORTGAGE,60000.0,Not Verified,Oct-2018,Fully Paid,n,debt_consolidation,Debt consolidation,836xx,ID,0,Jun-2003,0,7,0,3768,22,w,0.00,0.00,13097.521940,13097.52,12000.00,1097.52,0.0,0.0,0.0,10549.84,Nov-2019,0,1,Individual,0,0,207480,0,2,0,2,14335,0,1,2984,29500,1,1,1,3,0,0,183,15,13,5,0,1,2,2,4,8,4,9,2,7,0,0,0,100.0,0,0,252822,18103,19500,25412,N
3,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,MORTGAGE,85000.0,Verified,Nov-2018,Charged Off,n,debt_consolidation,Debt consolidation,891xx,NV,1,Feb-2005,0,20,0,13583,37,w,0.00,0.00,7949.700000,7949.70,6780.67,1169.03,0.0,0.0,0.0,612.62,Mar-2020,0,1,Joint App,0,0,245490,2,0,0,0,0,2,10,4545,65600,0,1,3,11,0,0,83,5,5,3,0,6,9,14,19,7,19,26,9,20,0,0,3,97.2,0,0,300600,13583,49500,0,N
4,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,RENT,65000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,907xx,CA,0,Feb-2008,0,7,0,2216,12,w,4282.89,4282.89,8888.340000,8888.34,7717.11,1171.23,0.0,0.0,0.0,370.64,Dec-2020,0,1,Individual,0,0,15597,0,3,0,1,13381,0,0,1359,15700,1,2,0,1,0,0,123,25,17,0,0,2,3,2,4,5,4,7,3,7,0,0,0,100.0,0,0,47448,15597,7100,31748,N

In [ ]:
#did it work?

### Clean up the `int_rate` column

When we're preparing a dataset for a machine learning model we typically don't want to leave any string values in our dataset --because it's hard to do math on words. 

Specifically, we have a column that is representing a numeric value, but currently doesn't have a numeric datatype. Lets look at the first 10 values of the `int_rate` column:

In [54]:
# Look at the first 10 values of the int_rate column

small_loans['int_rate'].head(10)

0     10.72%
1     10.08%
2     10.08%
3      6.46%
4      7.02%
5     27.27%
6     13.56%
7     10.33%
8     11.31%
9     15.02%
Name: int_rate, dtype: object

In [55]:
# We can use .str.strip to remove both the leading space and the % sign and cast the value to a float rather than a string.

small_loans['int_rate_no_percent'] = small_loans['int_rate'].str.strip('%')
small_loans.head()

/var/folders/1r/07vgg77n2vd0vy3wf99ryrmh0000gn/T/ipykernel_2242/72324780.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_loans['int_rate_no_percent'] = small_loans['int_rate'].str.strip('%')

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,total_bal_il,open_rv_12m,open_rv_24m,max_bal_bc,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,debt_settlement_flag,int_rate_no_percent
0,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,MORTGAGE,62035.0,Verified,Dec-2018,Fully Paid,n,credit_card,Credit card refinancing,301xx,GA,0,Oct-1998,1,14,1,4021,21,w,0.00,0.00,6336.700000,6336.70,5525.00,811.70,0.0,0.0,0.0,2376.69,Dec-2020,0,1,Individual,0,0,224883,3,6,3,4,63960,1,2,2597,22500,1,0,2,7,0,0,89,12,2,1,0,3,5,3,3,12,7,8,5,14,0,0,4,90.5,1,0,256370,67981,16200,73755,N,10.72
1,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,RENT,42000.0,Source Verified,Oct-2018,Fully Paid,n,credit_card,Credit card refinancing,432xx,OH,0,Sep-2015,2,5,0,509,6,w,0.00,0.00,10737.711855,10737.71,10000.00,737.71,0.0,0.0,0.0,2861.16,Dec-2020,0,1,Individual,0,0,7739,1,1,1,1,7230,1,2,509,18700,1,0,4,3,0,0,37,5,5,0,0,1,1,3,3,2,4,4,1,5,0,0,2,100.0,0,0,34941,7739,16600,16241,N,10.08
2,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,MORTGAGE,60000.0,Not Verified,Oct-2018,Fully Paid,n,debt_consolidation,Debt consolidation,836xx,ID,0,Jun-2003,0,7,0,3768,22,w,0.00,0.00,13097.521940,13097.52,12000.00,1097.52,0.0,0.0,0.0,10549.84,Nov-2019,0,1,Individual,0,0,207480,0,2,0,2,14335,0,1,2984,29500,1,1,1,3,0,0,183,15,13,5,0,1,2,2,4,8,4,9,2,7,0,0,0,100.0,0,0,252822,18103,19500,25412,N,10.08
3,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,MORTGAGE,85000.0,Verified,Nov-2018,Charged Off,n,debt_consolidation,Debt consolidation,891xx,NV,1,Feb-2005,0,20,0,13583,37,w,0.00,0.00,7949.700000,7949.70,6780.67,1169.03,0.0,0.0,0.0,612.62,Mar-2020,0,1,Joint App,0,0,245490,2,0,0,0,0,2,10,4545,65600,0,1,3,11,0,0,83,5,5,3,0,6,9,14,19,7,19,26,9,20,0,0,3,97.2,0,0,300600,13583,49500,0,N,6.46
4,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,RENT,65000.0,Not Verified,Dec-2018,Current,n,debt_consolidation,Debt consolidation,907xx,CA,0,Feb-2008,0,7,0,2216,12,w,4282.89,4282.89,8888.340000,8888.34,7717.11,1171.23,0.0,0.0,0.0,370.64,Dec-2020,0,1,Individual,0,0,15597,0,3,0,1,13381,0,0,1359,15700,1,2,0,1,0,0,123,25,17,0,0,2,3,2,4,5,4,7,3,7,0,0,0,100.0,0,0,47448,15597,7100,31748,N,7.02

In [57]:
#Remove the white space

small_loans['int_rate_no_sp'] = small_loans['int_rate'].str.strip()
display(small_loans[['int_rate_no_sp', 'int_rate_no_percent', 'int_rate']])

/var/folders/1r/07vgg77n2vd0vy3wf99ryrmh0000gn/T/ipykernel_2242/245083710.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_loans['int_rate_no_sp'] = small_loans['int_rate'].str.strip()

      int_rate_no_sp int_rate_no_percent int_rate
0             10.72%               10.72   10.72%
1             10.08%               10.08   10.08%
2             10.08%               10.08   10.08%
3              6.46%                6.46    6.46%
4              7.02%                7.02    7.02%
...              ...                 ...      ...
29995         10.33%               10.33   10.33%
29996          6.11%                6.11    6.11%
29997         25.34%               25.34   25.34%
29998          7.84%                7.84    7.84%
29999         13.56%               13.56   13.56%

[30000 rows x 3 columns]

In [59]:
#Remove both by using both functions

small_loans['int_rate_cleaned_string'] = small_loans['int_rate'].str.strip('%').str.strip()

display(small_loans[['int_rate_cleaned_string', 'int_rate']])

/var/folders/1r/07vgg77n2vd0vy3wf99ryrmh0000gn/T/ipykernel_2242/4176596302.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_loans['int_rate_cleaned_string'] = small_loans['int_rate'].str.strip('%').str.strip()

      int_rate_cleaned_string int_rate
0                       10.72   10.72%
1                       10.08   10.08%
2                       10.08   10.08%
3                        6.46    6.46%
4                        7.02    7.02%
...                       ...      ...
29995                   10.33   10.33%
29996                    6.11    6.11%
29997                   25.34   25.34%
29998                    7.84    7.84%
29999                   13.56   13.56%

[30000 rows x 2 columns]

In [60]:
#Finally, we need to cast our value to a float so we can do calculations on it

small_loans['int_rate_cleaned'] = small_loans['int_rate_cleaned_string'].astype(float)

small_loans['int_rate_cleaned'].head()

/var/folders/1r/07vgg77n2vd0vy3wf99ryrmh0000gn/T/ipykernel_2242/2299868790.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_loans['int_rate_cleaned'] = small_loans['int_rate_cleaned_string'].astype(float)

0    10.72
1    10.08
2    10.08
3     6.46
4     7.02
Name: int_rate_cleaned, dtype: float64

#Let's talk about another way to approach this problem by building a function and using .apply()

In [ ]:
# Lets start with just fixing a single string.
# If we can fix one, we can usually fix all of them

In [ ]:
#Remove extra white space

In [ ]:
#Doesn't work if there isn't any extra white space to remove

In [ ]:
#Doesn't work to try to apply the .strip function to an entire column all at once (without the .str).
#The function has to be applied to a text string.

In [ ]:
#You can "chain" two strip functions to remove both the spaces and the % sign

In [ ]:
# "Cast" the string value to a float
# "cast" -> Change something's data type
# This is the line of code that we're after! ->

In [ ]:
#check the variable type

### Write a function to make our solution reusable!

In [ ]:
#Review what we're working with one more time

We want to write a function that will look in every cell of int_rate, take out the white space and the % and convert the result into a float.

Every function has several standard parts:

* def statement
* name
* parameter name(s)
* body
* a return statement
* a return value

Here's an example of a function that the raduius of a sphere and calculates the volume.

It would be a pain to have to write this code over and over again if we needed to do this calculation a lot, so it's nice to have it written as a re-usable function.

![Function+parts+Argument(sent+in)+radius+is+called+a.+parameter.+def+vol_of_sphere(radius)_+header+vol+=+4_3.0_math.pi_radius__3+return+vol.jpg]()

In [62]:
# Here is a function that will take a single string, strip off the space and %
# And return the value as a float

def int_rate_to_float(string):
  return float(string.strip().strip('%'))

* def = _____________
* return = ____________
* int_rate_to_float = ________________
* string = _______________
* float(string.strip().strip('%')) = __________________

In [63]:
# Test out our function by calling it on int_rate, the string we created earlier.

int_rate_to_float(' 17.56%')

17.56

In [ ]:
# is the data type correct?

The the problem is that - to use this function - we'd have to feed in every interest rate one by one.  Not pracitcal.  

Fortunately we can use the .apply() function built to into Python, which will apply the function to every row of a variable.

### Apply to every row using .apply

In [69]:
#Apply to every row

# int_rate_to_float(small_loans['int_rate'])
small_loans['int_rate_cleaned_function'] = small_loans['int_rate'].apply(int_rate_to_float)

display(small_loans[['int_rate_cleaned_function', 'int_rate']])

display(small_loans[['int_rate_cleaned_function', 'int_rate']].dtypes)

/var/folders/1r/07vgg77n2vd0vy3wf99ryrmh0000gn/T/ipykernel_2242/1199089988.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small_loans['int_rate_cleaned_function'] = small_loans['int_rate'].apply(int_rate_to_float)

       int_rate_cleaned_function int_rate
0                          10.72   10.72%
1                          10.08   10.08%
2                          10.08   10.08%
3                           6.46    6.46%
4                           7.02    7.02%
...                          ...      ...
29995                      10.33   10.33%
29996                       6.11    6.11%
29997                      25.34   25.34%
29998                       7.84    7.84%
29999                      13.56   13.56%

[30000 rows x 2 columns]

int_rate_cleaned_function    float64
int_rate                      object
dtype: object

In [ ]:
# pass in *only* the name of the function, don't call it. 
# This works because we know the function works on every item in the column
# so I can simply "apply" it to the entire column

###You can also use .apply to apply a function to a column by specifying axis = 1 (the column axis) rather than the default (row) axis = 0.